workflow/smart-food-calorie-bot.json
{
  "name": "Фитнес Бот v2 (Claude + Supabase)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fitness-bot-v2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1100,
        300
      ],
      "id": "webhook-trigger",
      "name": "Telegram Webhook",
      "webhookId": "fitness-bot-v2-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ ($json.body.message || $json.body.callback_query) ? 'yes' : '' }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "has-msg"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -920,
        300
      ],
      "id": "has-message-check",
      "name": "Has Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ ($json.body.message?.chat?.id || $json.body.callback_query?.message?.chat?.id) }}",
              "rightValue": 293103275,
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "id": "check-owner-id"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -740,
        300
      ],
      "id": "check-owner",
      "name": "Check Owner"
    },
    {
      "parameters": {
        "chatId": "={{ $json.body.message.chat.id }}",
        "text": "🔒 Этот бот работает в приватном режиме.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -560,
        520
      ],
      "id": "not-authorized",
      "name": "Not Authorized",
      "credentials": {
        "telegramApi": {
          "id": "scv1nVzDIKJjto1f",
          "name": "Фитнес Бот"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $(\"Telegram Webhook\").item.json.body.message?.chat?.id || $(\"Telegram Webhook\").item.json.body.callback_query?.message?.chat?.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -560,
        300
      ],
      "id": "typing-action",
      "name": "Typing Action",
      "credentials": {
        "telegramApi": {
          "id": "scv1nVzDIKJjto1f",
          "name": "Фитнес Бот"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Webhook').item.json.body.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-start"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Start"
            },
            {
              "conditions": {
                "options": {
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Webhook').item.json.body.message.text }}",
                    "rightValue": "/stats",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-stats"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Stats"
            },
            {
              "conditions": {
                "options": {
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Webhook').item.json.body.message.photo ? 'has_photo' : '' }}",
                    "rightValue": "has_photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-photo"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Photo"
            },
            {
              "conditions": {
                "options": {
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Webhook').item.json.body.message.voice ? 'has_voice' : '' }}",
                    "rightValue": "has_voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-voice"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Webhook').item.json.body.message.text }}",
                    "rightValue": "/newday",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-newday"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NewDay"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -380,
        300
      ],
      "id": "message-type-switch",
      "name": "Message Type"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pdqjgfqxjlygqkigchfr.supabase.co/rest/v1/user_profiles",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ telegram_chat_id: $('Telegram Webhook').item.json.body.message.chat.id, name: ($('Telegram Webhook').item.json.body.message.from.first_name || 'User') }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        -100
      ],
      "id": "upsert-profile",
      "name": "Upsert Profile"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Webhook').item.json.body.message.chat.id }}",
        "text": "👋 Привет! Я твой персональный фитнес-помощник.\n\nВот что я умею:\n📸 Сфотографируй еду — я посчитаю КБЖУ\n✍️ Опиши что съел текстом — я запишу\n🎤 Отправь голосовое — я пойму и запишу\n💬 Задай вопрос о питании — я отвечу\n📊 /stats — сводка за сегодня\n🌅 /newday — начать новый день\n\nТвоя дневная цель: 2400 ккал | 140 г белка\n\nДавай начнём! 🍽",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        200,
        -100
      ],
      "id": "send-start",
      "name": "Send Start Message",
      "credentials": {
        "telegramApi": {
          "id": "scv1nVzDIKJjto1f",
          "name": "Фитнес Бот"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://pdqjgfqxjlygqkigchfr.supabase.co/rest/v1/user_profiles?telegram_chat_id=eq.{{ $('Telegram Webhook').item.json.body.message.chat.id }}&select=*",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        100
      ],
      "id": "get-profile-stats",
      "name": "Get Profile Stats"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://pdqjgfqxjlygqkigchfr.supabase.co/rest/v1/food_log?telegram_chat_id=eq.{{ $(\"Telegram Webhook\").item.json.body.message.chat.id }}&logged_at=gte.{{ ($(\"Get Profile Stats\").first().json.current_day_start || $(\"Get Profile Stats\").first().json[0]?.current_day_start || $now.setZone(\"Asia/Yekaterinburg\").startOf(\"day\").toUTC().toISO()).replace(\"+\", \"%2B\") }}&select=*&order=logged_at.asc",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        100
      ],
      "id": "get-today-logs-stats",
      "name": "Get Today Logs Stats"
    },
    {
      "parameters": {
        "jsCode": "const profileItem = $('Get Profile Stats').first().json;\nconst profile = Array.isArray(profileItem) ? profileItem[0] : profileItem;\n\nconst logItems = $('Get Today Logs Stats').all();\n\nlet totalCal = 0, totalProt = 0, totalFat = 0, totalCarbs = 0;\nconst meals = [];\n\nfor (const item of logItems) {\n  const log = item.json;\n  totalCal += Number(log.calories) || 0;\n  totalProt += Number(log.protein) || 0;\n  totalFat += Number(log.fat) || 0;\n  totalCarbs += Number(log.carbs) || 0;\n  meals.push(`• ${log.meal_description}: ${Math.round(log.calories)} ккал`);\n}\n\nconst targetCal = Number(profile.target_calories) || 2400;\nconst targetProt = Number(profile.target_protein) || 140;\nconst remaining = Math.round(targetCal - totalCal);\nconst protRemaining = Math.round(targetProt - totalProt);\n\nlet status = '';\nif (remaining > 500) status = '✅ Отлично, запас есть!';\nelse if (remaining > 0) status = '⚡ Почти у цели';\nelse status = '🔴 Лимит превышен!';\n\nconst mealsList = meals.length > 0 ? '🍽 Приёмы пищи:\\n' + meals.join('\\n') : 'Пока ничего не записано.';\n\nconst message = `📊 Статистика за сегодня:\\n\\n🔥 Калории: ${Math.round(totalCal)} / ${targetCal} ккал\\n🥩 Белок: ${Math.round(totalProt)} / ${targetProt} г\\n🧈 Жиры: ${Math.round(totalFat)} г\\n🍞 Углеводы: ${Math.round(totalCarbs)} г\\n\\n⏳ Осталось: ${remaining} ккал | ${protRemaining} г белка\\n\\n${status}\\n\\n${mealsList}`;\n\nconst replyMarkup = JSON.stringify({\n  inline_keyboard: [\n    [\n      { text: '📊 День', callback_data: 'stats_today' },\n      { text: '3 дня', callback_data: 'stats_3d' },\n      { text: 'Неделя', callback_data: 'stats_week' },\n      { text: '2 нед', callback_data: 'stats_2week' },\n      { text: 'Месяц', callback_data: 'stats_month' }\n    ]\n  ]\n});\n\nreturn [{ json: { message, replyMarkup } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        100
      ],
      "id": "format-stats",
      "name": "Format Stats"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Webhook').item.json.body.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "reply_markup": "={{ $json.replyMarkup }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        100
      ],
      "id": "send-stats",
      "name": "Send Stats",
      "credentials": {
        "telegramApi": {
          "id": "scv1nVzDIKJjto1f",
          "name": "Фитнес Бот"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Webhook').item.json.body.message.photo.slice(-1)[0]['file_id'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -100,
        350
      ],
      "id": "get-image",
      "name": "Get Image",
      "credentials": {
        "telegramApi": {
          "id": "scv1nVzDIKJjto1f",
          "name": "Фитнес Бот"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  if (item.binary && item.binary.data) {\n    item.binary.data.mimeType = 'image/jpeg';\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        350
      ],
      "id": "fix-mime",
      "name": "Fix MIME"
    },
    {
      "parameters": {
        "jsCode": "const binaryData = $input.first().binary.data;\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64 = buffer.toString('base64');\nconst mimeType = binaryData.mimeType || 'image/jpeg';\n\nreturn [{ json: { base64, mimeType } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        350
      ],
      "id": "to-base64",
      "name": "To Base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 1024, messages: [{ role: 'user', content: [{ type: 'image', source: { type: 'base64', media_type: $json.mimeType, data: $json.base64 } }, { type: 'text', text: 'Ты — эксперт по определению КБЖУ в еде и напитках по фотографии.\\n\\nПроанализируй фотографию и определи что на ней.\\n\\nЕсли на фото еда или напиток, ответь СТРОГО в двух частях:\\n\\nЧАСТЬ 1 — человекочитаемый ответ:\\n🍽 В вашей еде [описание еды на фото] следующее соотношение КБЖУ:\\n\\n📊 Калорий: X\\n▫️ Белков: X г\\n▫️ Жиров: X г\\n▫️ Углеводов: X г\\n\\nПримерный вес порции: X г\\n\\nЧАСТЬ 2 — JSON для записи (обязательно):\\n|||FOOD_LOG|||\\n{\\\"meal_description\\\": \\\"описание\\\", \\\"calories\\\": число, \\\"protein\\\": число, \\\"fat\\\": число, \\\"carbs\\\": число, \\\"meal_type\\\": \\\"auto\\\", \\\"source\\\": \\\"photo\\\"}\\n|||END_LOG|||\\n\\nПравила:\\n1. Считай КБЖУ на вес/количество, которое представлено на фото, а не на 100 грамм.\\n2. Если на фото не еда — ответь: \\\"Пришлите фотографию еды! 🍕\\\"\\n3. Строго придерживайся формата ответа.' }] }] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        350
      ],
      "id": "claude-vision",
      "name": "Claude Vision"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst chatId = $('Telegram Webhook').item.json.body.message.chat.id;\n\nlet output = '';\nif (response.content && Array.isArray(response.content)) {\n  output = response.content.map(c => c.text || '').join('');\n} else {\n  output = JSON.stringify(response);\n}\n\nlet foodData = null;\nlet userMessage = output;\n\nconst startTag = '|||FOOD_LOG|||';\nconst endTag = '|||END_LOG|||';\nconst startIdx = output.indexOf(startTag);\nconst endIdx = output.indexOf(endTag);\n\nif (startIdx !== -1 && endIdx !== -1) {\n  const jsonStr = output.substring(startIdx + startTag.length, endIdx).trim();\n  try {\n    foodData = JSON.parse(jsonStr);\n    userMessage = output.substring(0, startIdx).trim();\n  } catch (e) {}\n}\n\nreturn [{ json: { userMessage, foodData, chatId, hasFoodLog: !!foodData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        350
      ],
      "id": "parse-photo-response",
      "name": "Parse Photo Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasFoodLog }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "id": "if-food-photo"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        350
      ],
      "id": "has-food-photo",
      "name": "Has Food? (Photo)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pdqjgfqxjlygqkigchfr.supabase.co/rest/v1/food_log",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ telegram_chat_id: $json.chatId, meal_description: $json.foodData.meal_description, calories: $json.foodData.calories, protein: $json.foodData.protein, fat: $json.foodData.fat, carbs: $json.foodData.carbs, meal_type: $json.foodData.meal_type || 'auto', source: $json.foodData.source || 'photo' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        300
      ],
      "id": "save-food-photo",
      "name": "Save Food (Photo)"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Webhook').item.json.body.message.chat.id }}",
        "text": "={{ $('Parse Photo Response').item.json.userMessage }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1300,
        350
      ],
      "id": "send-photo-result",
      "name": "Send Photo Result",
      "credentials": {
        "telegramApi": {
          "id": "scv1nVzDIKJjto1f",
          "name": "Фитнес Бот"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Webhook').item.json.body.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -100,
        850
      ],
      "id": "get-voice-file",
      "name": "Get Voice File",
      "credentials": {
        "telegramApi": {
          "id": "scv1nVzDIKJjto1f",
          "name": "Фитнес Бот"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "model",
              "value": "whisper-1"
            },
            {
              "parameterType": "formData",
              "name": "language",
              "value": "ru"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        850
      ],
      "id": "whisper-transcribe",
      "name": "Whisper Transcribe",
      "credentials": {
        "openAiApi": {
          "id": "tqzl3mAiWekMwarq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-voice-text",
              "name": "message_text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        850
      ],
      "id": "voice-to-text",
      "name": "Voice to Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-msg-text",
              "name": "message_text",
              "value": "={{ $('Telegram Webhook').item.json.body.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        600
      ],
      "id": "message-text",
      "name": "Message Text"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://pdqjgfqxjlygqkigchfr.supabase.co/rest/v1/user_profiles?telegram_chat_id=eq.{{ $('Telegram Webhook').item.json.body.message.chat.id }}&select=*",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        600
      ],
      "id": "get-profile-text",
      "name": "Get Profile Text"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://pdqjgfqxjlygqkigchfr.supabase.co/rest/v1/food_log?telegram_chat_id=eq.{{ $('Telegram Webhook').item.json.body.message.chat.id }}&logged_at=gte.{{ $now.setZone('Asia/Yekaterinburg').minus({days:7}).startOf('day').toUTC().toISO() }}&select=*&order=logged_at.asc",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        600
      ],
      "id": "get-week-logs",
      "name": "Get Week Logs"
    },
    {
      "parameters": {
        "jsCode": "const profile = $('Get Profile Text').first().json;\nconst profileData = Array.isArray(profile) ? profile[0] : profile;\nconst logItems = $('Get Week Logs').all();\nconst logsArr = logItems.map(item => item.json);\nconst chatId = $('Telegram Webhook').item.json.body.message.chat.id;\n\nlet messageText = '';\ntry {\n  messageText = $('Message Text').item.json.message_text || '';\n} catch(e) {}\ntry {\n  if (!messageText) messageText = $('Voice to Text').item.json.message_text || '';\n} catch(e) {}\n\n// current_day_start from profile\nconst dayStart = new Date(profileData.current_day_start || new Date().toISOString());\n\n// Group logs by day (Yekaterinburg = UTC+5)\nconst dayMap = {};\nfor (const log of logsArr) {\n  const d = new Date(log.logged_at);\n  const yek = new Date(d.getTime() + 5 * 60 * 60 * 1000);\n  const dayKey = yek.toISOString().split('T')[0];\n  if (!dayMap[dayKey]) dayMap[dayKey] = [];\n  dayMap[dayKey].push(log);\n}\n\n// Today's logs = everything since current_day_start\nconst todayLogs = logsArr.filter(log => new Date(log.logged_at) >= dayStart);\nlet todayCal = 0, todayProt = 0, todayFat = 0, todayCarbs = 0;\nfor (const l of todayLogs) {\n  todayCal += Number(l.calories) || 0;\n  todayProt += Number(l.protein) || 0;\n  todayFat += Number(l.fat) || 0;\n  todayCarbs += Number(l.carbs) || 0;\n}\n\nconst targetCal = Number(profileData?.target_calories) || 2400;\nconst targetProt = Number(profileData?.target_protein) || 140;\n\n// Today key for display\nconst nowYek = new Date(Date.now() + 5 * 60 * 60 * 1000);\nconst todayKey = nowYek.toISOString().split('T')[0];\n\n// Build history string\nlet historyStr = '';\nconst sortedDays = Object.keys(dayMap).sort();\nfor (const day of sortedDays) {\n  const dayLogs = dayMap[day];\n  let dc = 0, dp = 0, df = 0, dcarbs = 0;\n  const meals = [];\n  for (const l of dayLogs) {\n    dc += Number(l.calories) || 0;\n    dp += Number(l.protein) || 0;\n    df += Number(l.fat) || 0;\n    dcarbs += Number(l.carbs) || 0;\n    meals.push(`  - ${l.meal_description}: ${Math.round(l.calories)} ккал, Б${Math.round(l.protein)}г Ж${Math.round(l.fat)}г У${Math.round(l.carbs)}г`);\n  }\n  const isToday = day === todayKey;\n  historyStr += `\\n${day}${isToday ? ' (СЕГОДНЯ)' : ''}:  ${Math.round(dc)} ккал, Б${Math.round(dp)}г Ж${Math.round(df)}г У${Math.round(dcarbs)}г\\n`;\n  historyStr += meals.join('\\n') + '\\n';\n}\n\nif (!historyStr) historyStr = 'Нет записей за последние 7 дней.';\n\nconst systemPrompt = `Ты — персональный фитнес-помощник по питанию. Отвечай на русском языке. Ты дружелюбный, но профессиональный.\n\nДАННЫЕ ПОЛЬЗОВАТЕЛЯ:\n- Имя: ${profileData?.name || 'Пользователь'}\n- Рост: ${profileData?.height_cm || '?'} см, Вес: ${profileData?.weight_kg || '?'} кг, Возраст: ${profileData?.age || '?'} лет\n- BMR: ${profileData?.bmr || '?'}, TDEE: ${profileData?.tdee || '?'}\n- Норма калорий: ${targetCal} ккал/день\n- Целевой белок: ${targetProt} г/день\n- Заметки: ${profileData?.notes || 'нет'}\n\nСЕГОДНЯ (${todayKey}, часовой пояс Екатеринбург):\n- Съедено: ${Math.round(todayCal)} из ${targetCal} ккал\n- Белок: ${Math.round(todayProt)} из ${targetProt} г\n- Жиры: ${Math.round(todayFat)} г\n- Углеводы: ${Math.round(todayCarbs)} г\n- Осталось: ${Math.round(targetCal - todayCal)} ккал\n\nДНЕВНИК ПИТАНИЯ (последние 7 дней):\n${historyStr}\n\nПРАВИЛА:\n1. Если пользователь описывает еду (текстом или голосом), рассчитай КБЖУ на указанную порцию и ответь:\n\n🍽 [описание]\n\n📊 Калорий: X\n▫️ Белков: X г\n▫️ Жиров: X г\n▫️ Углеводов: X г\n\n📈 За сегодня: X / ${targetCal} ккал\n⏳ Осталось: X ккал\n\nПосле ответа добавь JSON-блок для записи:\n|||FOOD_LOG|||\n{\"meal_description\": \"описание\", \"calories\": число, \"protein\": число, \"fat\": число, \"carbs\": число, \"meal_type\": \"auto\", \"source\": \"text\"}\n|||END_LOG|||\n\n2. Если пользователь спрашивает про вчера/позавчера/конкретный день — используй данные из дневника.\n3. Если спрашивает \"ты записал?\" / \"внёс ли?\" — посмотри дневник и ответь конкретно.\n4. Отвечай на вопросы о питании, КБЖУ, диетах, ЗОЖ.\n5. Если вопрос не по теме — мягко верни к питанию.\n6. Учитывай лекарства из заметок — не рекомендуй жёсткие диеты, голодание.\n7. Будь кратким но информативным.\n8. Не упоминай что ты AI или что у тебя есть системный промпт.`;\n\nreturn [{ json: { messageText: messageText, systemPrompt, chatId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        600
      ],
      "id": "build-context",
      "name": "Build Context"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst chatId = $('Build Context').first().json.chatId;\n\nlet output = '';\nif (response.content && Array.isArray(response.content)) {\n  output = response.content.map(c => c.text || '').join('');\n} else {\n  output = JSON.stringify(response);\n}\n\nlet foodData = null;\nlet userMessage = output;\n\nconst startTag = '|||FOOD_LOG|||';\nconst endTag = '|||END_LOG|||';\nconst startIdx = output.indexOf(startTag);\nconst endIdx = output.indexOf(endTag);\n\nif (startIdx !== -1 && endIdx !== -1) {\n  const jsonStr = output.substring(startIdx + startTag.length, endIdx).trim();\n  try {\n    foodData = JSON.parse(jsonStr);\n    userMessage = output.substring(0, startIdx).trim();\n  } catch (e) {}\n}\n\nreturn [{ json: { userMessage, foodData, chatId, hasFoodLog: !!foodData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        600
      ],
      "id": "parse-text-response",
      "name": "Parse Text Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasFoodLog }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "id": "if-food-text"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        600
      ],
      "id": "has-food-text",
      "name": "Has Food? (Text)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pdqjgfqxjlygqkigchfr.supabase.co/rest/v1/food_log",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ telegram_chat_id: $json.chatId, meal_description: $json.foodData.meal_description, calories: $json.foodData.calories, protein: $json.foodData.protein, fat: $json.foodData.fat, carbs: $json.foodData.carbs, meal_type: $json.foodData.meal_type || 'auto', source: $json.foodData.source || 'text' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        550
      ],
      "id": "save-food-text",
      "name": "Save Food (Text)"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Webhook').item.json.body.message.chat.id }}",
        "text": "={{ $('Parse Text Response').item.json.userMessage }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        600
      ],
      "id": "send-text-result",
      "name": "Send Text Result",
      "credentials": {
        "telegramApi": {
          "id": "scv1nVzDIKJjto1f",
          "name": "Фитнес Бот"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 1024, system: $json.systemPrompt, messages: [{ role: 'user', content: $json.messageText }] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        600
      ],
      "id": "claude-text-api",
      "name": "Claude Text API"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://pdqjgfqxjlygqkigchfr.supabase.co/rest/v1/user_profiles?telegram_chat_id=eq.{{ $('Telegram Webhook').item.json.body.message.chat.id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"current_day_start\": \"{{ $now.toISO() }}\"}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        -300
      ],
      "id": "update-day-start",
      "name": "Update Day Start"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Webhook').item.json.body.message.chat.id }}",
        "text": "🌅 Новый день начался!\n\nСчётчики КБЖУ обнулены. Удачного дня! 💪",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        200,
        -300
      ],
      "id": "send-newday",
      "name": "Send NewDay Confirm",
      "credentials": {
        "telegramApi": {
          "id": "scv1nVzDIKJjto1f",
          "name": "Фитнес Бот"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $(\"Telegram Webhook\").item.json.body.callback_query ? 'yes' : '' }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "is-callback-cond"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        -500
      ],
      "id": "is-callback",
      "name": "Is Callback?"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://pdqjgfqxjlygqkigchfr.supabase.co/rest/v1/user_profiles?telegram_chat_id=eq.{{ $('Telegram Webhook').item.json.body.callback_query.message.chat.id }}&select=*",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        -500
      ],
      "id": "get-profile-callback",
      "name": "Get Profile Callback"
    },
    {
      "parameters": {
        "jsCode": "const callback = $('Telegram Webhook').item.json.body.callback_query;\nconst callbackData = callback.data;\nconst chatId = callback.message.chat.id;\nconst messageId = callback.message.message_id;\nconst profile = $('Get Profile Callback').first().json;\nconst profileData = Array.isArray(profile) ? profile[0] : profile;\nconst dayStart = profileData.current_day_start;\n\nlet dateFilter = '';\nlet periodLabel = '';\nlet days = 1;\n\nswitch (callbackData) {\n  case 'stats_today':\n    dateFilter = dayStart;\n    periodLabel = 'сегодня';\n    days = 1;\n    break;\n  case 'stats_3d':\n    dateFilter = new Date(Date.now() - 3 * 24 * 60 * 60 * 1000).toISOString();\n    periodLabel = '3 дня';\n    days = 3;\n    break;\n  case 'stats_week':\n    dateFilter = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString();\n    periodLabel = 'неделю';\n    days = 7;\n    break;\n  case 'stats_2week':\n    dateFilter = new Date(Date.now() - 14 * 24 * 60 * 60 * 1000).toISOString();\n    periodLabel = '2 недели';\n    days = 14;\n    break;\n  case 'stats_month':\n    dateFilter = new Date(Date.now() - 30 * 24 * 60 * 60 * 1000).toISOString();\n    periodLabel = 'месяц';\n    days = 30;\n    break;\n  default:\n    dateFilter = dayStart;\n    periodLabel = 'сегодня';\n    days = 1;\n}\n\ndateFilter = dateFilter.replace(/\\+/g, '%2B');\nreturn [{ json: { chatId, messageId, dateFilter, periodLabel, callbackData, days, dayStart, targetCal: Number(profileData.target_calories) || 2400, targetProt: Number(profileData.target_protein) || 140 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -500
      ],
      "id": "compute-period-filter",
      "name": "Compute Period Filter"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://pdqjgfqxjlygqkigchfr.supabase.co/rest/v1/food_log?telegram_chat_id=eq.{{ $json.chatId }}&logged_at=gte.{{ $json.dateFilter }}&select=*&order=logged_at.asc",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        -500
      ],
      "id": "get-period-logs",
      "name": "Get Period Logs"
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Compute Period Filter').first().json;\nconst logItems = $('Get Period Logs').all();\nconst logs = logItems.map(i => i.json);\n\nlet totalCal = 0, totalProt = 0, totalFat = 0, totalCarbs = 0;\n\n// Group by day for multi-day stats\nconst dayMap = {};\nfor (const log of logs) {\n  totalCal += Number(log.calories) || 0;\n  totalProt += Number(log.protein) || 0;\n  totalFat += Number(log.fat) || 0;\n  totalCarbs += Number(log.carbs) || 0;\n\n  // Group by day (Yekaterinburg = UTC+5)\n  const d = new Date(log.logged_at);\n  const yek = new Date(d.getTime() + 5 * 60 * 60 * 1000);\n  const dayKey = yek.toISOString().split('T')[0];\n  if (!dayMap[dayKey]) dayMap[dayKey] = { cal: 0, prot: 0, fat: 0, carbs: 0, meals: [] };\n  dayMap[dayKey].cal += Number(log.calories) || 0;\n  dayMap[dayKey].prot += Number(log.protein) || 0;\n  dayMap[dayKey].fat += Number(log.fat) || 0;\n  dayMap[dayKey].carbs += Number(log.carbs) || 0;\n  dayMap[dayKey].meals.push(log.meal_description);\n}\n\nconst targetCal = meta.targetCal;\nconst targetProt = meta.targetProt;\n\nlet message = '';\n\nif (meta.callbackData === 'stats_today') {\n  // Same as daily stats\n  const remaining = Math.round(targetCal - totalCal);\n  const protRemaining = Math.round(targetProt - totalProt);\n  let status = '';\n  if (remaining > 500) status = '✅ Отлично, запас есть!';\n  else if (remaining > 0) status = '⚡ Почти у цели';\n  else status = '🔴 Лимит превышен!';\n\n  const meals = logs.map(l => `• ${l.meal_description}: ${Math.round(l.calories)} ккал`);\n  const mealsList = meals.length > 0 ? '🍽 Приёмы пищи:\\n' + meals.join('\\n') : 'Пока ничего не записано.';\n\n  message = `📊 Статистика за сегодня:\\n\\n🔥 Калории: ${Math.round(totalCal)} / ${targetCal} ккал\\n🥩 Белок: ${Math.round(totalProt)} / ${targetProt} г\\n🧈 Жиры: ${Math.round(totalFat)} г\\n🍞 Углеводы: ${Math.round(totalCarbs)} г\\n\\n⏳ Осталось: ${remaining} ккал | ${protRemaining} г белка\\n\\n${status}\\n\\n${mealsList}`;\n} else {\n  // Multi-day stats\n  const sortedDays = Object.keys(dayMap).sort();\n  const numDays = sortedDays.length || 1;\n  const avgCal = Math.round(totalCal / numDays);\n  const avgProt = Math.round(totalProt / numDays);\n\n  let dayBreakdown = '';\n  for (const day of sortedDays) {\n    const d = dayMap[day];\n    dayBreakdown += `\\n📅 ${day}: ${Math.round(d.cal)} ккал | Б${Math.round(d.prot)}г Ж${Math.round(d.fat)}г У${Math.round(d.carbs)}г`;\n  }\n\n  if (!dayBreakdown) dayBreakdown = '\\nНет записей за этот период.';\n\n  message = `📊 Статистика за ${meta.periodLabel}:\\n\\n🔥 Всего калорий: ${Math.round(totalCal)} ккал\\n🥩 Всего белка: ${Math.round(totalProt)} г\\n🧈 Всего жиров: ${Math.round(totalFat)} г\\n🍞 Всего углеводов: ${Math.round(totalCarbs)} г\\n\\n📈 Среднее в день: ${avgCal} ккал | ${avgProt} г белка\\n🎯 Норма: ${targetCal} ккал | ${targetProt} г белка\\n\\n📋 По дням:${dayBreakdown}`;\n}\n\nconst replyMarkup = JSON.stringify({\n  inline_keyboard: [\n    [\n      { text: meta.callbackData === 'stats_today' ? '• День •' : '📊 День', callback_data: 'stats_today' },\n      { text: meta.callbackData === 'stats_3d' ? '• 3 дня •' : '3 дня', callback_data: 'stats_3d' },\n      { text: meta.callbackData === 'stats_week' ? '• Нед •' : 'Неделя', callback_data: 'stats_week' },\n      { text: meta.callbackData === 'stats_2week' ? '• 2 нед •' : '2 нед', callback_data: 'stats_2week' },\n      { text: meta.callbackData === 'stats_month' ? '• Мес •' : 'Месяц', callback_data: 'stats_month' }\n    ]\n  ]\n});\n\nreturn [{ json: { message, replyMarkup, chatId: meta.chatId, messageId: meta.messageId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -500
      ],
      "id": "format-period-stats",
      "name": "Format Period Stats"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "reply_markup": "={{ $json.replyMarkup }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        900,
        -500
      ],
      "id": "send-period-stats",
      "name": "Send Period Stats",
      "credentials": {
        "telegramApi": {
          "id": "scv1nVzDIKJjto1f",
          "name": "Фитнес Бот"
        }
      }
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Has Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Message": {
      "main": [
        [
          {
            "node": "Check Owner",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Check Owner": {
      "main": [
        [
          {
            "node": "Typing Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Authorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typing Action": {
      "main": [
        [
          {
            "node": "Is Callback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type": {
      "main": [
        [
          {
            "node": "Upsert Profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Profile Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Day Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Profile": {
      "main": [
        [
          {
            "node": "Send Start Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Profile Stats": {
      "main": [
        [
          {
            "node": "Get Today Logs Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today Logs Stats": {
      "main": [
        []
      ]
    },
    "Format Stats": {
      "main": [
        [
          {
            "node": "Send Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Fix MIME",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix MIME": {
      "main": [
        [
          {
            "node": "To Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Base64": {
      "main": [
        [
          {
            "node": "Claude Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Vision": {
      "main": [
        [
          {
            "node": "Parse Photo Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Photo Response": {
      "main": [
        [
          {
            "node": "Has Food? (Photo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Food? (Photo)": {
      "main": [
        [
          {
            "node": "Save Food (Photo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Photo Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Food (Photo)": {
      "main": [
        [
          {
            "node": "Send Photo Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Voice to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice to Text": {
      "main": [
        [
          {
            "node": "Get Profile Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Text": {
      "main": [
        [
          {
            "node": "Get Profile Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Profile Text": {
      "main": [
        [
          {
            "node": "Get Week Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Week Logs": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Claude Text API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Text Response": {
      "main": [
        [
          {
            "node": "Has Food? (Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Food? (Text)": {
      "main": [
        [
          {
            "node": "Save Food (Text)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Food (Text)": {
      "main": [
        [
          {
            "node": "Send Text Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Text API": {
      "main": [
        [
          {
            "node": "Parse Text Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Day Start": {
      "main": [
        [
          {
            "node": "Send NewDay Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Callback?": {
      "main": [
        [
          {
            "node": "Get Profile Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Profile Callback": {
      "main": [
        [
          {
            "node": "Compute Period Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Period Filter": {
      "main": [
        [
          {
            "node": "Get Period Logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Period Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Period Logs": {
      "main": [
        []
      ]
    },
    "Format Period Stats": {
      "main": [
        [
          {
            "node": "Send Period Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "pinData": null
}